!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    %link{ :rel => 'stylesheet', :href => 'basic.css', :type => 'text/css' }
    %title Florian Hanke on Github
  %body
    %ol.nav
      %li
        %a{ :href => 'http://floere.github.com/' } home
        •
      %li
        %a{ :href => 'http://floere.github.com/view_models' } view models
    %h1 Florian «Flöre» Hanke
    %div
      %img{ :src => 'http://www.gravatar.com/avatar/de2d64478e715fb02266f77a3f5641f6?size=120' }
      %p Me in three words:
      %p Lover. Fighter. Computer Scientist.
      %p Biker. Book Devourer. Language aficionado. Film enthusiast. Electronics hobbyist. Runner. Penciller. Speaker. Listener. Thinker. Seeker and Finder. Eat. Sleep. Ponies.
      %p Amount of large calibre handguns in his possession: 0
    %h2 Projects
    %h3 Code
    %ol
      %li
        %a{ :href => "http://floere.github.com/view_models" } View Models
        The glue between M, V, and C in Ruby on Rails.
      %li
        %a{ :href => "http://github.com/floere/contexts" } Contexts
        For easy to use Sidebars/Carts/Navigations in Ruby on Rails.
    %h3 Others
    %p Many. But the code projects are most important right now.
    %h2 The talking tubes
    %p
      %ol
        %li
          %a{ :href => "http://codeiscode.tumblr.com" } Code is Code
          Quick blasts from the code side.
        %li
          %a{ :href => "http://twitter.com/hanke" } Wittier
          Messages from the void, compressed in 140 very small pieces.
        %li
          %a{ :href => "http://florianhanke.blogspot.com" } Blag
          Letting the keyboard roam free. Warning: In the germanic tongue. Babylonic to some, revealing to others.