!!!
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :'xml:lang' => "en", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "Content-type", :content => "text/html; charset=utf-8" }
    %link{ :rel => 'stylesheet', :href => 'basic.css', :type => 'text/css' }
    %title Florian Hanke on Github
  %body
    %h1 Projects
    %h2 View Models
    %p
      %a{ :href => "http://floere.github.com/view_models" } View Models
      , the glue between M, V, and C in Ruby on Rails.
    %h2 Contexts
    %p
      %a{ :href => "http://github.com/floere/contexts" } Contexts
      , for easy to use Sidebars/Carts/Navigations in Ruby on Rails.